name: L'intégration continue
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Construction de Lab. ANSSI - Lib

    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Utiliser la version Node.js 22
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Installer les dépendances
        run: pnpm install

      - name: Exécuter les tests
        run: pnpm run test

      - name: Builder le package
        run: pnpm run build
