name: Publication du package sur NPM
permissions:
  id-token: write # Pour permettre le --provenance de la publication npm https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions

on:
  release:
    types: [published]

jobs:
  publication:
    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Récupérer la version
        run: echo "release_version=$(npm pkg get version --json | tr -d '\"')" >> $GITHUB_ENV

      - uses: pnpm/action-setup@v4

      - name: Installer Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org/"
          cache: 'pnpm'

      - name: Installer les dépendances
        run: pnpm install

      - name: Exécuter les tests
        run: pnpm run test

      - name: Builder le package
        run: pnpm run build

      - name: Publier sur NPM
        run: pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
